.about-technology__wrapper {
  display: flex;
  flex-direction: column;
  width: @mobile-container;
  margin: 0 auto 22px;
}

.about-technology__title {
  margin: -4px 0 29px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.about-technology__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-technology__item {
  display: flex;
  position: relative;
  margin-bottom: 20px;

  &--useful::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--easy::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--effectively::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--fast::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.about-technology__item::before {
  content: "";
  width: 60px;
  height: 60px;

  background-color: #68b738;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px;
}

.about-technology__item::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 80px;
  height: 230px;
  right: 48px;
  top: -40px;

  background-color: transparent;
  background-position: left top;
  background-repeat: no-repeat;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 281px;
  line-height: 281px;
  font-weight: normal;
  color: #f2f2f2;
}

.about-technology__description {
  margin: 2px 0 0 20px;
  width: 200px;
}

@media (min-width: @tablet-width) {
  .about-technology {
    border-bottom: 1px solid #e6e6e6;
  }

  .about-technology__wrapper {
    width: @tablet-container;
    margin: 0 auto;
  }

  .about-technology__title {
    margin: 15px 0 13px;

    font-size: 60px;
    line-height: 60px;
  }

  .about-technology__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 634px;
    margin-bottom: 28px;
  }

  .about-technology__item {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 59px;
    margin-bottom: 74px;

    &--useful::after {
      content: "1";
      right: 52px;
    }

    &--easy::after {
      content: "2";
      right: 59px;
    }

    &--effectively::after {
      content: "3";
      right: 57px;
    }

    &--fast::after {
      content: "4";
      right: 57px;
    }
  }

  .about-technology__item::before {
    width: 80px;
    height: 80px;
  }

  .about-technology__description {
    margin: 32px 0 0 0;
    width: 250px;

    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .about-technology {
    border-bottom: none;
  }

  .about-technology__wrapper {
    width: @desktop-container;
  }

  .about-technology__title {
    margin: 42px 0 14px;
  }

  .about-technology__list {
    width: @desktop-container;
    margin-bottom: 0;
  }

  .about-technology__item {
    width: 245px;
    min-height: 230px;
    margin-top: 59px;
    margin-bottom: 0;

    &--useful::after {
      right: 48px;
    }

    &--easy::after {
      right: 54px;
    }

    &--effectively::after {
      right: 52px;
    }

    &--fast::after {
      right: 52px;
    }
  }
}
