.about-technology {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto 22px;
}

.about-technology__title {
  margin: -4px 0 29px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.about-technology__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-technology__item {
  display: flex;
  margin-bottom: 20px;
}

.about-technology__image {
  width: 60px;
  height: 60px;

  background-color: #68b738;
  background-position: center center;

  &--useful {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--easy {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--effectively {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--fast {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.about-technology__description {
  margin: 2px 0 0 20px;
  width: 200px;
}

@media (min-width: @tablet-width) {
  .about-technology {
    width: 708px;
  }

  .about-technology__title {
    margin: 14px 0 29px;

    font-size: 60px;
    line-height: 60px;
  }

  .about-technology__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-technology__item {
    width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .about-technology {
    width: 1300px;
  }
}
