.about-cat__fieldset {
  width: 280px;
  padding: 0;
  margin: 0 auto 8px;

  border: none;
}

.about-cat__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-cat__item {
  margin-bottom: 15px;
}
