.additional-catalog {
  width: 280px;
  margin: 0 auto;
}

.additional-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additional-catalog__list-item {
  border-bottom: 1px solid #cdcdcd;
}

.additional-catalog__title {
  display: flex;

  min-height: 59px;
  margin: 28px 0 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;

  border-bottom: 1px solid #cdcdcd;
}

.additional-catalog__product-title {
  margin-top: 13px;
  margin-bottom: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.additional-catalog__product-properties {
  width: 287px;
  margin-left: -4px;
  margin-top: 8px;
}

.additional-catalog__value {
  text-align: right;
}

.additional-catalog__button {
  margin-top: 10px;
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .additional-catalog {
    width: 708px;
  }

  .additional-catalog__title {
    min-height: 59px;
    margin: 65px 0 0 37px;

    font-size: 36px;
    line-height: 36px;

    border-bottom: none;
  }

  .additional-catalog__list {
    margin-top: 58px;

    border: 1px solid #e6e6e6;
  }

  .additional-catalog__list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 37px;
    border-bottom: 1px solid #cdcdcd;
  }

  .additional-catalog__product-title {
    width: 380px;
    margin-top: 25px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }

  .additional-catalog__product-properties {
    width: 227px;
    margin-left: 0;
    margin-top: 27px;

    border-collapse: collapse;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-catalog__field {
    text-align: right;
  }

  .additional-catalog__value {
    width: 93px;
  }

  .additional-catalog__button {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 27px;
  }
}
