.additional-catalog__title {
  height: 3px;
  margin-top: 42px;
  margin-bottom: 41px;

  background-color: #68b738;
}

.additional-catalog__title-wrapper {
  position: relative;
  width: @mobile-container;
  margin: 0 auto;
}

.additional-catalog__title-text {
  display: flex;
  position: absolute;
  top: -14px;
  left: -24px;

  margin: 0;
  padding: 0 23px;

  background-color: #ffffff;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.additional-catalog__wrapper {
  width: @mobile-container;
  margin: 0 auto;
}

.additional-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #cdcdcd;
}

.additional-catalog__list-item {
  border-bottom: 1px solid #cdcdcd;
}

.additional-catalog__product-title {
  margin-top: 13px;
  margin-bottom: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.additional-catalog__product-properties {
  width: 287px;
  margin-left: -4px;
  margin-top: 8px;
}

.additional-catalog__value {
  text-align: right;
}

.additional-catalog__button {
  margin-top: 10px;
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .additional-catalog__title {
    margin-top: 88px;
    margin-bottom: 91px;
  }

  .additional-catalog__title-wrapper {
    width: @tablet-container;
  }

  .additional-catalog__title-text {
    top: -23px;
    left: 0;

    padding: 0 37px;

    font-size: 36px;
    line-height: 36px;
  }

  .additional-catalog__wrapper {
    width: @tablet-container;
  }

  .additional-catalog__list {
    margin-top: 58px;

    border: 1px solid #e6e6e6;
  }

  .additional-catalog__list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 37px;
    border-bottom: 1px solid #cdcdcd;
  }

  .additional-catalog__product-title {
    width: 380px;
    margin-top: 25px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }

  .additional-catalog__product-properties {
    width: 227px;
    margin-left: 0;
    margin-top: 27px;

    border-collapse: collapse;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-catalog__field {
    text-align: right;
  }

  .additional-catalog__value {
    width: 93px;
  }

  .additional-catalog__button {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 27px;
  }
}

@media (min-width: @desktop-width) {
  .additional-catalog {
    padding-bottom: 85px;
  }

  .additional-catalog__title {
    margin-top: 96px;
    margin-bottom: 33px;
  }

  .additional-catalog__title-wrapper {
    width: @desktop-container;
  }

  .additional-catalog__title-text {
    top: -23px;
    left: -38px;

    padding: 0 37px;

    font-size: 36px;
    line-height: 36px;
  }

  .additional-catalog__wrapper {
    display: flex;
    justify-content: space-between;
    width: @desktop-container;
  }

  .additional-catalog__list {
    width: 896px;
    margin-top: 58px;
  }

  .additional-catalog__list-item {
    padding: 0;
    min-height: 72px;
  }

  .additional-catalog__product-title {
    width: 285px;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .additional-catalog__product-properties {
    width: 288px;
    margin-left: 0;
    margin-top: 27px;
  }

  .additional-catalog__field {
    text-align: left;
  }

  .additional-catalog__value {
    width: 44px;
    text-align: left;
  }

  .additional-catalog__button {
    width: 245px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}
