.additional-catalog {
  width: 280px;
  margin: 0 auto;
}

.additional-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additional-catalog__list-item {
  border-bottom: 1px solid #cdcdcd;
}

.additional-catalog__product-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.additional-catalog__title {
  display: flex;
  align-items: center;

  min-height: 88px;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;

  border-bottom: 1px solid #cdcdcd;
}

.additional-catalog__button {
  margin-top: 14px;
  margin-bottom: 17px;
}
