.catalog-page-main__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 103px;

  border-bottom: 1px solid #ededed;
}

.catalog-page-main__title {
  width: 280px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}
