.contacts {
  display: flex;
  align-items: center;
}

.contacts__title {
  width: 140px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.contacts__text {
  width: 140px;

  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

@media (min-width: @tablet-width) {
  .contacts {
    justify-content: space-between;
  }

  .contacts__title {
    width: 160px;
    margin-top: 61px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__text {
    width: 160px;
    margin-top: 46px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__text p {
    margin-bottom: 20px;
  }
}
