.contact-data {
  padding: 0;
  margin: 0;

  border: none;
}

.contact-data__list {
  width: @mobile-container;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.contact-data__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.contact-data__item label {
  margin-top: 13px;
  margin-right: 10px;
}

.contact-data__item input {
  height: 44px;
  padding: 13px 50px 13px 13px;
  flex-grow: 1;
  text-transform: inherit;
}
