.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 78px;
}

.copyright a {
  color: black;
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}

.copyright__link {
  width: 40px;
  margin-right: -7px;
}

.copyright__image path {
  fill: black;
}

@media (min-width: @tablet-width) {
  .copyright__text {
    margin-right: 16px;
  }
}
