.main-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-catalog__list-item {
  border-bottom: 1px solid #ededed;
}

.main-catalog__list-item-container {
  width: 280px;
  margin: 0 auto;
}

.main-catalog__list-item-wrapper {
  display: flex;
}

.main-catalog__product {
  width: 140px;
}

.main-catalog__product-title {
  width: 80px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.main-catalog__button {
  margin-top: 21px;
  margin-bottom: 24px;
}

.main-catalog__view-all {
  border-bottom: 1px solid #ededed;
}

.main-catalog__view-all-wrapper {
  width: 280px;
  margin: 0 auto;

  text-align: center;
}

.main-catalog__view-all-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.main-catalog__view-all-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}

.main-catalog__view-all-button {
  margin-top: 21px;
  margin-bottom: 24px;

  color: #444444;
  background-color: #f2f2f2;
}
