.page-main-top {
  min-height: 480px;
  padding: 30px 20px 0;

  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;

  &__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
  }

  &__slogan {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: normal;
  }
}
