.page-main-top {
  display: flex;
  min-height: 480px;

  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;

  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center top 166px, center top;
  background-color: #ffffff;
}

.page-main-top__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}

.page-main-top__title {
  margin: 26px 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.page-main-top__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: normal;
}

.page-main-top__button {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .page-main-top {
    min-height: 815px;

    color: #000000;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top 228px;
  }

  .page-main-top__wrapper {
    justify-content: flex-start;
    width: 708px;
    padding-left: 87px;
  }

  .page-main-top__banner {
    width: 427px;
    text-align: left;
  }

  .page-main-top__title {
    margin-bottom: 42px;

    font-size: 60px;
    line-height: 60px;
  }

  .page-main-top__slogan {
    margin-bottom: 49px;

    font-size: 20px;
    line-height: 20px;
  }

  .page-main-top__button {
    width: 245px;
    min-height: 50px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-main-top {
    width: 1440px;
    min-height: 696px;
    margin: -213px auto 0;

    background-image: url("../img/index-can-desktop@1x.png"), url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 328px top 142px, right top;
    background-color: #ffffff;
  }

  .page-main-top__wrapper {
    width: 1300px;
    padding-left: 120px;
    padding-top: 195px;
  }

  .page-main-top__banner {
    display: flex;
    flex-direction: column;
    width: 427px;
    text-align: left;
  }

  .page-main-top__title {
    margin-bottom: 22px;
  }

  .page-main-top__slogan {
    margin-bottom: 54px;
  }
}
