.page-main-top {
  display: flex;
  min-height: 480px;

  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;

  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center top 166px, center top;
  background-color: #ffffff;
  background-size: 280px, auto 305px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg");
  }
}

.page-main-top__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: @mobile-container;
  min-height: inherit;
  margin: 0 auto;
}

.page-main-top__title {
  margin: 26px 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.page-main-top__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: normal;
}

.page-main-top__button {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .page-main-top {
    min-height: 815px;

    color: #000000;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top 228px;
    background-size: 709px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .page-main-top__wrapper {
    justify-content: flex-start;
    width: @tablet-container;
    padding-left: 87px;
  }

  .page-main-top__banner {
    width: 427px;
    text-align: left;
  }

  .page-main-top__title {
    margin-bottom: 42px;

    font-size: 60px;
    line-height: 60px;
  }

  .page-main-top__slogan {
    margin-bottom: 49px;

    font-size: 20px;
    line-height: 20px;
  }

  .page-main-top__button {
    width: 245px;
    min-height: 50px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-main-top {
    min-height: 696px;
    margin: 0 auto 80px;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    background-color: #ffffff;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .page-main-top__wrapper {
    width: @desktop-container;
    padding-left: 80px;

    background-image: url("../img/index-can-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: left 450px top 142px;
    background-size: 552px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .page-main-top__banner {
    display: flex;
    flex-direction: column;
    width: 427px;
    margin-top: 195px;
    text-align: left;
  }

  .page-main-top__title {
    margin-bottom: 22px;
  }

  .page-main-top__slogan {
    margin-bottom: 54px;
  }
}
