.page-footer {
  position: relative;
}

.page-footer__contacts {
  background-color: #ffffff;

  &--inner {
    background-color: #f2f2f2;
  }
}

.page-footer__contacts-wrapper {
  width: @mobile-container;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 13px;
}

.page-footer__map {
  width: 100%;
  height: 363px;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center top -38px;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

.page-footer__map-marker {
  position: absolute;
  left: 30.5%;
  top: 226px;
  transform: scale(0.5);
}

.page-footer__map-frame {
  position: relative;
  width: 100%;
  height: 363px;
  border: none;

  z-index: 1;
}

.page-footer__bottom {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  width: @mobile-container;
  margin: 0 auto;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 38px;
  padding-bottom: 31px;
  border-bottom: 1px solid #d9d9d9;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__contacts-wrapper {
    width: @tablet-container;
    padding: 0 41px 38px;
  }

  .page-footer__map {
    height: 396px;

    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center top -5px;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .page-footer__map-marker {
    left: 42%;
    top: 347px;
    transform: scale(1);
  }

  .page-footer__map-frame {
    height: 396px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: @tablet-container;
    padding-top: 37px;
    padding-bottom: 35px;
  }

  .page-footer__logo {
    display: flex;
    justify-content: center;
    width: 130px;
    padding: 28px 0 0;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__contacts-wrapper {
    width: @desktop-container;
    padding: 0;
  }

  .page-footer__map {
    height: 400px;

    background-image: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center top -1px;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .page-footer__map-marker {
    left: 69.3%;
    top: 150px;
    transform: scale(1);
  }

  .page-footer__map-frame {
    height: 400px;
  }

  .page-footer__wrapper {
    width: @desktop-container;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .page-footer__logo {
    padding: 27px 0 0;
  }
}
