@media (max-width: @mobile-width-only) {
  .page-header__top {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 66px;
    border-bottom: 1px solid #e6e6e6;
  }

  .page-header__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: @mobile-container;
  }

  .page-header__logo-graph {
    opacity: 10%;
  }

  .page-header__toggle {
    width: 25px;
    height: 20px;
    font-size: 0;

    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    border: none;
    outline: none;

    &--closed {
      background-image: url("../img/mobile-menu.svg");
    }

    &--no-js {
      display: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: @tablet-container;
    min-height: 113px;
    margin: 0 auto;
    padding-top: 23px;
  }

  .page-header__logo-graph-image {
    width: 173px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
    width: @desktop-container;
    margin: 0 auto;
  }

  .page-header__wrapper {
    width: 100%;
    min-height: 161px;
    padding-top: 53px;

    &--first-page {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .page-header__logo-graph-image {
    width: 202px;
  }
}
