.program-select__fieldset {
  width: 280px;
  margin: 0 auto 8px;
  padding: 25px 0 0;

  border: none;
}

.program-select__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.program-select__item {
  margin-bottom: 25px;
}
