.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 65px;
  border-bottom: 1px solid #e6e6e6;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;

  &--current-page a {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      bottom: -8px;

      background-color: #68b738;
    }
  }
}

.site-list__item a {
  position: relative;
  color: #111111;

  &:hover {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .site-list__item {
    margin-left: 35px;
    border-bottom: none;

    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    font-size: 20px;
  }

  .site-list__item--first-page a {
    color: white;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &::after {
      background-color: #ffffff;
    }
  }
}
