.social {
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 159px;
  padding: 0;
  margin: 8px 0 4px 59px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.social__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  &:hover svg,
  &:active svg {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link svg {
  align-self: center;
  fill: #666666;
}

@media (min-width: @tablet-width) {
  .social {
    border-bottom: none;
  }

  .social__list {
    width: 159px;
    margin: 12px 0 4px 35px;
  }

  .social__link svg {
    transform: scale(1.5);
  }

  .social__link {
    &--facebook svg {
      margin-right: 14px;
    }
  }
}
